<!doctype html>
<html lang="{{ page.lang | default: "en" }}">
    <head>
        {% if site.google_analytics %}
          <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.google_analytics }}');
          </script>
        {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


        <title> {% if page.ref != "home" %}{{ page.title }} | {% endif %} {{ site.title }}</title>

        {% feed_meta %}
        {% seo %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link id="favicon" rel="shortcut icon" href="{{'img/ico' | relative_url }}">
        <link href="/assets/css/styles.css" rel="stylesheet">

        <script src="https://kit.fontawesome.com/11bff94181.js"></script>



  </head>

    <body>
<!--        <a id="skip-to-content" href="#content">Skip to the content.</a>-->

        <header role="banner" class="page-header masthead">
            <div class="inner">
                <a href="{{ site.data.navigation[page.lang][0].link }}"><h3 class="masthead-brand">Finca Monticello</h3></a>
                <nav class="nav nav-masthead justify-content-center">
                    {% for item in site.data.navigation[page.lang] %}
                        <a href="{{ item.link }}" class="nav-link {% if page.url == item.link %}active{% endif %}">
                            {{ item.name }}
                        </a>
                    {% endfor %}
                    <a href="mailto:fincacermeno@gmail.com"><i class="fas fa-lg fa-envelope"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=+50763451910"><i class="fab fa-lg fa-whatsapp"></i></a>
                    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                    {% for page in pages %}
                        <a href="{{ page.url }}" class="{{ page.lang }}">
                            <img src="/assets/img/{{ page.lang }}.svg" /> {{ page.lang }}
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </header>

        <main id="content" class="{% if page.ref == 'home' %}landing{% else %}main-content{% endif %}" role="main">
            {{content}}
        </main>

        <!-- FOOTER -->
        <footer class="container site-footer">
            <p class="float-right"><a href="#">{% if page.lang=="en" %} Back to top {% else %} Regresar al principio {% endif %}</a></p>
            <p><i class="far fa-copyright"></i> <script>document.write(new Date().getFullYear())</script> Monticello Holdings, Inc. </p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
